<p id="notice"><%= notice %></p>
<hr>
<div class="row">
<div class="col-3">
<div class="d-flex justify-content-end pt-3 me-3">
<%= link_to( tweets_path,class:"rounded-circle p-3 back") do%><i class="fas fa-arrow-left fs-4 text-info "></i> <% end %>
</div>
</div>
<div class="col-6">
<% if current_user %>
      <div class="card my-2 p-2">
        <div class="row ">
          <div class="col-2">
            <img src="<%= @tweet.photo_user %>"class="w-75 rounded-circle"/>
          </div>
          <div class="col-9">
            <p><strong class="me-2">@<%= @tweet.name_user %></strong><%= @tweet.content %></p>
          </div>

          <% if current_user && current_user.id == @tweet.user_id %>
            <div class="col-1">
              <ul class="navbar-nav me-5">
                <li class="nav-item">
                  <a class="nav-link" href="#" id="navbarDropdownTweet" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-h menu-tweet rounded-circle" style="padding:6px"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownTweet">
                    <li><%= link_to 'Edit', edit_tweet_path(@tweet), class:"dropdown-item" %></li>
                    <li><%= link_to 'Destroy', @tweet, method: :delete, data: { confirm: 'Are you sure?' }, class:"dropdown-item" %> </li>
                  </ul>
                </li>
              </ul>
            </div>
          <% end %>
          <!--END DEL MENU-->
          <% if @tweet.perfil_retweet%>
          <div class="card p-4 m-auto w-75">
            <div class="row">
              <div class="col-2">
               <img src=" <%= @tweet.perfil_retweet%>"class="w-75 rounded-circle"/>
              </div>
              <div class="col-10">
                <p><strong class="me-2">@<%= @tweet.perfil_retweet_name %></strong><%= @tweet.perfil_retweet_content %></p>
              </div>
            </div>
          </div>
        <% end %>
        <!--END DEL RETWEET-->
      
        <div class="d-flex align-items-end justify-content-around pt-3">
              <div class="d-flex">
            <% pre_like = @tweet.likes.find { |like| like.user_id == current_user.id} %>
              
              <% if pre_like %>
                <%= link_to(tweet_like_path(@tweet.id, pre_like),class: "btn rounded-circle ilike",method: :delete)do%> <i class="fas fa-heart"></i><% end %>
              <% else %>
                <%= link_to(tweet_likes_path(@tweet.id),class: "btn rounded-circle like", method: :post)do%><i class="far fa-heart"></i><% end %>
              <% end %>
              
              <p><%= @tweet.likes.count %> <%= (@tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>
              </div>
              <div class="d-flex">
              <button type="button" class="btn rounded-circle retweet" >
                <i class="fas fa-retweet" id="<%= @tweet.id %>"></i>
              </button>
          
              <%= render 'retweet' %>
             
               <p><%= @tweet.retweets.count %> <%= (@tweet.retweets.count) == 1 ? 'Retweet' : 'Retweet'%> </p>  
               </div>
              <p class="time"><%= link_to time_ago_in_words(@tweet.created_at), @tweet %></p>
          </div>
        <!--END DEL CLASS FLEX-->
        </div>
      <!--END DEL ROW-->
      </div>
  <!--END DEL CARD-->
    
    <!--END DEL EACH TWEETS-->

    <!--SI EL USUARIO NO ESTA LOGEADO-->
    <% else %>
      
            <div class="card my-2 p-2">
            <div class="row ">
              <div class="col-2">
                <img src="<%= @tweet.photo_user %>"class="w-75 rounded-circle"/>
              </div>
               <div class="col-9">
                <p><strong class="me-2">@<%= @tweet.name_user %></strong><%= @tweet.content %></p>
              </div>

               <% if @tweet.perfil_retweet%>
                <div class="card p-4 m-auto w-75">
                  <div class="row">
                    <div class="col-2">
                    <img src=" <%= @tweet.perfil_retweet%>"class="w-75 rounded-circle"/>
                    </div>
                    <div class="col-10">
                      <p><strong class="me-2">@<%= @tweet.perfil_retweet_name %></strong><%= @tweet.perfil_retweet_content %></p>
                    </div>
                  </div>
                </div>
              <% end %>
              
              <div class="d-flex align-items-end justify-content-around pt-3">
              <div class="d-flex">

               <% pre = @tweet.likes.count%>
              
              <% if pre > 0  %>
               <a href="#" class="btn rounded-circle ilike"><i class="fas fa-heart"></i></a>
              <% else %>
               <a href="#" class="btn rounded-circle like"><i class="far fa-heart"></i></a>
              <% end %>
             
              <p><%= @tweet.likes.count %> <%= (@tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>
              </div>
              <div class="d-flex">
              
                 <button type="button" class="btn rounded-circle retweet" >
                <i class="fas fa-retweet"></i>
              </button>
             
               <p><%= @tweet.retweets.count %> <%= (@tweet.retweets.count) == 1 ? 'Retweet' : 'Retweet'%> </p>  
               </div>
              <p class="time"><%= link_to time_ago_in_words(@tweet.created_at), @tweet %></p>
          </div>
        <!--END DEL CLASS FLEX-->
            </div>
            </div>
            <% end %>
             <!--END DEL EACH TWEETS-->
              <div class="card" style="width: 18rem;">
              <div class="card-header">
                Likes
              </div>
              <% usuarios = @tweet.all_like %>
              <% if usuarios.count > 0 %>
                 <% usuarios.each do |user| %>
                    <%foto= user.map{|as|as['photo']}%>
                    <%nombre= user.map{|as|as.name}%>
                    <ul class="list-group list-group-flush ">
                      <li class="list-group-item w-75 d-flex align-items-center"><img src="<%=foto.first%>"class="w-25 rounded-circle"/><h6 class="ms-2"><%=nombre.first.capitalize%></h6></li>
                    </ul>
                <% end %>
              <% else %>
             <ul class="list-group list-group-flush ">
                <li class="list-group-item w-75 d-flex align-items-center"><h6 class="ms-2">There is no like</h6></li>
              </ul>
              <%end%>
            </div>
    </div>
     <!--END DEL COL-6-->
     
<div class="col-3"></div>
</div>


 <!--END DEL ROW PRINCIPAL-->
<br>
