<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<% root_path %>">Twitter</a>
    </div>
    <div class="collapse navbar-collapse justify-content-end me-5 pe-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-5">
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-user-circle" style="font-size:24px"></i>
          </a>
          <!-- ¡Pending implementation! Should work toggling between sign_in and sign_out -->
           <% if current_user %>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%=link_to 'Create Tweet', new_tweet_path , class:"dropdown-item"%></li>
            <li><%=link_to 'My Profile', edit_user_registration_path, class:"dropdown-item"%></li>
            <li><hr class="dropdown-divider"></li>
            <li> <%=link_to 'Log out', destroy_user_session_path, method: :delete, class:"dropdown-item"%></li>
          </ul>

          <%else%>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li> <%=link_to 'Register', new_user_registration_path, class:"dropdown-item"%></li>
            <li><hr class="dropdown-divider"></li>
            <li> <%=link_to 'Log in', new_user_session_path, class:"dropdown-item"%></li>
          </ul>
         <%end%>
      </li>
      </ul>
    </div>
  </div>
</nav>
